<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Language" content="en-us" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name='keywords' content='astronomy pictures, space photos,star pictures, planet pictures, solar system pictures&quot;Through the years, our readers have submitted an amazing selection of astronomy pictures, capturing the exquisite beauty of the night sky (and the Sun)'/>
  <meta name='description' content='Astronomy pictures and photos all over the world'/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Shooting the night sky"/>
  <meta property="og:site_name" content="Shooting the night sky"/>
  <meta property="og:description" content="Astronomy pictures and photos all over the world"/>
  <meta property="og:image" content="http://secure-anchorage-9340.herokuapp.com/assets/other_images/bg5.jpg" />
  <meta property="og:locale" content="en_US" />
  <title>Shooting the night sky</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
